/* Updated styles.css */

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #FAFAFA;
    color: #2C2C2C;
    margin: 0;
    padding: 60px 15%; /* Increase padding and limit the width of content to center it */
    line-height: 1.6;
}

h1 {
    color: #2C2C2C;
    font-weight: 300;
    border-bottom: 2px solid #3498db; /* blue accent */
    padding-bottom: 10px;
    text-align: center; /* centering the title */
    margin-bottom: 50px; /* increased spacing */
}

h2 {
    color: #555;
    font-weight: 300;
    margin: 40px 0; /* increased spacing */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;
    color: #3498db; /* blue accent */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    background-color: #FFF;
    transition: border 0.2s;
}

input[type="text"]:focus {
    border-color: #3498db; /* blue accent */
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

